.game-info {
  zoom: 1;
}
.game-info:before,
.game-info:after {
  content: " ";
  display: table;
}
.game-info:after {
  clear: both;
}
.game-info__table {
  width: 60%;
  border-collapse: collapse;
}
.game-info__img {
  float: right;
  max-width: 35%;
}
.game-info__table td {
  padding: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.2;
}
.game-info__table tr:nth-child(2n) td {
  background-color: #fff;
}
.game-info__links-block {
  zoom: 1;
  margin: 1rem 0;
  display: flex;
}
.game-info__links-block:before,
.game-info__links-block:after {
  content: " ";
  display: table;
}
.game-info__links-block:after {
  clear: both;
}
.game-info__links {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-right: 5%;
  padding-bottom: 3rem;
  position: relative;
}
.game-info__links img {
  float: left;
  height: 4rem;
  margin: 0 0.5rem 0.5rem 0;
}
.game-info__all {
  position: absolute;
  bottom: 0;
  font-weight: bold;
}
.game-info__all a {
  text-decoration: none;
}
