.b-text
  word-wrap break-word
  p
    margin 1em 0
    font-size 1em
    line-height 1.2
  img
    max-width 100%
  a
    color $linkColor
    text-decoration underline
    &:visited
      color $linkColorVisited
    &:hover
      color $linkColorHover
  i
    font-style italic
  b
    font-weight bold
  h2, h3
    font-weight bold
    line-height 1.4
  h2
    font-size 1.5em
  h3
    font-size 1.2em
  .embed-twit
    width 500px
    margin 0 auto