html, body
  margin 0
  padding 0
  width 100%
  height auto
  min-height 100%

body
  font-family $fontFamily
  font-size 1em
  line-height 1.2
  position relative
  min-height 300px
  min-width 980px

.upper
  text-transform uppercase

.link-on-dark
  color $onDarkTextColor
  text-decoration underline
  &:hover
    color $accentColor

.h2, .h3
  font-weight bold
  line-height 1.4

.h2
  font-size 1.5em

.h3
  font-size 1.2em

a
  img
    border: 0

blockquote
	display: block
	background: #fff
	padding: 15px 20px 15px 45px
	margin: 20px
	position: relative
	font-family: Georgia, serif
	font-style: italic
	font-size: 16px
	line-height: 1.2
	color: #666
	text-align: left
	border-left: 15px solid $accentColor
	border-right: 2px solid $accentColor
	box-shadow: 2px 2px 15px #ccc
	&:before
		content: "\201C"
		font-family: Georgia, serif
		font-size: 60px
		font-weight: bold
		color: #999
		position: absolute
		left: 6px
		top: 2px
	&:after
		content: ""
	.dragon-age
		border-left: 15px solid $accentColor
		border-right: 2px solid $accentColor