@model string
<div class="article-list__share social-likes social-likes_notext" data-url="@Model">
    <div class="facebook" title="Поделиться ссылкой на Фейсбуке"></div>
    <div class="twitter" title="Поделиться ссылкой в Твиттере"></div>
    <div class="vkontakte" title="Поделиться ссылкой во Вконтакте"></div>
    <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе"></div>
</div>
