@using BioEngine.Site.ViewComponents
@Html.Partial("~/Views/Shared/UserBlock.cshtml")
<div class="sidebar__content-wrp">
    <form action="@Url.Action("Index", "Search")" class="search">
        <input class="search__input" type="search" placeholder="Поиск" name="query"/>
        <button class="search__magnifier"></button>
    </form>
    <div class="sidebar__image" style="text-align: center; line-height: 1.5em;">
        <a href="https://www.patreon.com/bePatron?u=6790376">
            <img src="/img/patreon.png" alt="Become a Patron"/>
        </a>
        <br/>
        <a href="https://www.bioware.ru/biowareru/articles/others/patreon.html">Подробнее</a>
    </div>
    @await Component.InvokeAsync(typeof(CounterViewComponent))
    @await Component.InvokeAsync(typeof(BannerViewComponent))
    @await Component.InvokeAsync(typeof(BannerViewComponent))
    @await Component.InvokeAsync(typeof(PollViewComponent))
    @await Component.InvokeAsync(typeof(BannerViewComponent))
    @await Component.InvokeAsync(typeof(BannerViewComponent))
</div>