@using BioEngine.Site.ViewComponents
@Html.Partial("~/Views/Shared/UserBlock.cshtml")
<div class="sidebar__content-wrp">
    <form action="@Url.Action("Index", "Search")" class="search">
        <input class="search__input" type="search" placeholder="Поиск" name="query"/>
        <button class="search__magnifier"></button>
    </form>
    <div class="sidebar__image">
        <a href="https://www.patreon.com/bePatron?u=6790376" type="become-patron-button"><img src="https://c5.patreon.com/external/logo/become_a_patron_button.png" alt="Become a Patron" /></a>
    </div>
    @await Component.InvokeAsync(typeof(CounterViewComponent))
    @await Component.InvokeAsync(typeof(BannerViewComponent))
    @await Component.InvokeAsync(typeof(BannerViewComponent))
    @await Component.InvokeAsync(typeof(PollViewComponent))
    @await Component.InvokeAsync(typeof(BannerViewComponent))
    @await Component.InvokeAsync(typeof(BannerViewComponent))
</div>