@using BioEngine.Site.ViewComponents
@Html.Partial("~/Views/Shared/UserBlock.cshtml")
<div class="sidebar__content-wrp">
    <form action="@Url.Action("Index", "Search")" class="search">
        <input class="search__input" type="search" placeholder="Поиск" name="query"/>
        <button class="search__magnifier"></button>
    </form>
</div>
@await Component.InvokeAsync(typeof(PatreonWidgetViewComponent))
@await Component.InvokeAsync(typeof(CounterViewComponent))
<div class="sidebar__content-wrp">
    @await Component.InvokeAsync(typeof(BannerViewComponent))
    @await Component.InvokeAsync(typeof(BannerViewComponent))
</div>
<div class="sidebar__content-wrp">
    @await Component.InvokeAsync(typeof(PollViewComponent))
</div>
<div class="sidebar__content-wrp">
    @await Component.InvokeAsync(typeof(BannerViewComponent))
    @await Component.InvokeAsync(typeof(BannerViewComponent))
</div>