@using System.Threading.Tasks
@using BioEngine.Common.Base
@using BioEngine.Site.Components.Url
@using BioEngine.Site.ViewComponents
@using BioEngine.Site.ViewModels
@model BioEngine.Site.ViewModels.Files.FileViewModel
@inject UrlManager UrlManager
@inject ParentEntityProvider ParentEntityProvider
@{
    ViewBag.Title = await Model.Title();
    Layout = "~/Views/_Main.cshtml";
    Context.Response.Headers.Add("Refresh", $"5, url={Model.File.Link}");
}


<div class="article__block">
    @(await Component.InvokeAsync<BreadcrumbsViewComponent>(Model.BreadCrumbs))
    <article class="article">
        <header class="article__header">
            <div class="article__title-wrap">
                <h2 class="article__title">@Html.Raw(Model.File.Title)</h2>
            </div>
            @Html.Partial("~/Views/Shared/ParentHeader.cshtml", new ParentHeaderViewModel(await ParentEntityProvider.GetModelParent(Model.File), x => UrlManager.Files.ParentFilesUrl((dynamic) x), x => UrlManager.ParentIconUrl((dynamic) x)))
        </header>

        <p>
            Благодарим вас! Ваша закачка начнётся через несколько секунд. Если это не произошло или вам надоело
            ждать &ndash; нажмите на <a href="@Model.File.Link">эту ссылку</a>.
        </p>
    </article>

</div>