.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111;
  color: #fff;
  height: 100px;
}
.footer__content {
  width: 90%;
  max-width: 1240px;
  min-width: 980px;
  margin: 0 auto;
  padding-top: 30px;
}
.footer__logo {
  float: left;
  width: 15%;
}
.footer__logo-img {
  width: 100%;
}
.footer__copyright-text {
  float: left;
  display: inline-block;
  margin-left: 5%;
  max-width: 54%;
  vertical-align: top;
  font-size: 0.8em;
}
.footer__contacts {
  float: left;
  display: inline-block;
  width: 20%;
  margin-left: 6%;
  vertical-align: top;
  font-style: normal;
  font-size: 0.8em;
}
