@using BioEngine.Routing
@using BioEngine.Site.ViewComponents
@using BioEngine.Site.ViewModels
@model BioEngine.Site.ViewModels.Articles.ParentArticlesViewModel
@{
    Layout = "~/Views/_Main.cshtml";
    Model.BreadCrumbs.Add(new BreadCrumbsItem(Url.Base().ParentUrl(Model.Parent), Model.Parent.DisplayTitle));
}

<div class="article__block">
    @(await Component.InvokeAsync<BreadcrumbsViewComponent>(Model.BreadCrumbs))
    <article class="article">
        <header class="article__header">
            <div class="article__title-wrap">
                <h2 class="article__title">Статьи</h2>
            </div>
            @Html.Partial("~/Views/Shared/ParentHeader.cshtml", new ParentHeaderViewModel(Model.Parent, x => Url.Articles().ParentArticlesUrl(x), x => Url.Base().ParentIconUrl(x)))
        </header>

        <div class="files">
            @foreach (var cat in Model.Cats)
            {
                @Html.Partial("ArticleCatPartial", cat)
            }

        </div>

    </article>

</div>