@using System.Threading.Tasks
@using BioEngine.Site.Components.Url
@using BioEngine.Site.ViewComponents
@using BioEngine.Site.ViewModels
@model BioEngine.Site.ViewModels.Articles.ParentArticlesViewModel
@inject UrlManager UrlManager
@{
    ViewBag.Title = await Model.Title();
    Layout = "~/Views/_Main.cshtml";
}

<div class="article__block">
    @(await Component.InvokeAsync<BreadcrumbsViewComponent>(Model.BreadCrumbs))
    <article class="article">
        <header class="article__header">
            <div class="article__title-wrap">
                <h2 class="article__title">Статьи</h2>
            </div>
            @Html.Partial("~/Views/Shared/ParentHeader.cshtml", new ParentHeaderViewModel(Model.Parent, x => UrlManager.Articles.ParentArticlesUrl((dynamic) x), x => UrlManager.ParentIconUrl((dynamic) x)))
        </header>

        <div class="files">
            @foreach (var cat in Model.Cats)
            {
                @Html.Partial("ArticleCatPartial", cat)
            }

        </div>

    </article>

</div>