.search {
  display: flex;
}
.search__input {
  flex-grow: 1;
  vertical-align: top;
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 0.9em;
  width: 160px;
  padding: 8px;
  border-radius: 2px;
}
.search__magnifier {
  background: url("/img/search__magnifier.png") 50% 50% no-repeat, transparent;
  width: 40px;
  height: 33px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
