.body_me3
  background url("/img/body__mea.jpg"), $bodyBG;
  background-attachment fixed
  background-repeat no-repeat
  background-size cover

.body_anthem
  background url("https://s3.bioware.ru/bioware.ru/images/anthem_bg_1.jpg"), $bodyBG;
  background-attachment fixed
  background-repeat no-repeat
  background-size cover
