@using System.Threading.Tasks
@using BioEngine.Site.ViewModels.News
@using BioEngine.Site.Components.Url
@using BioEngine.Site.ViewComponents

@inject UrlManager UrlManager
@model NewsListViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/_Main.cshtml";
}
<div class="article-list">
    @foreach (var news in Model.News)
    {
        @Html.Partial("~/Views/Shared/News/Show.cshtml", new ShowNewsViewModel(news, false, UrlManager))
    }

    @(await Component.InvokeAsync<PagerViewComponent>(new
      {
          pagerModel = new PagerModel(Model.CurrentPage, Model.TotalNews, (page) => Url.Action("Index", "News", new {page}), 20)
      }))
</div>