@using System.Threading.Tasks
@using BioEngine.Routing
@using BioEngine.Site.ViewModels.News
@using BioEngine.Site.ViewComponents

@model NewsListByDateViewModel

@{
    Layout = "~/Views/_Main.cshtml";
}
<div class="article-list">
    @foreach (var news in Model.News)
    {
        @Html.Partial("~/Views/Shared/News/Show.cshtml", new ShowNewsViewModel(news, false, Url))
    }

    @(await Component.InvokeAsync<PagerViewComponent>(new
      {
          pagerModel = new PagerModel(Model.CurrentPage, Model.TotalNews, (page) =>
          {
              if (Model.Day > 0)
              {
                  return Url.News().NewsByDay(Model.Year, Model.Month, Model.Day, page);
              }
              else
              {
                  if (Model.Month > 0)
                  {
                      return Url.News().NewsByMonth(Model.Year, Model.Month, page);
                  }
                  return Url.News().NewsByYear(Model.Year, page);
              }
          }, 20)
      }))
</div>