@using BioEngine.Routing
@using BioEngine.Site.ViewModels.News
@using BioEngine.Site.ViewComponents

@model ParentNewsListViewModel

@{
    Layout = "~/Views/_Main.cshtml";
}
<div class="article-list">
    @foreach (var news in Model.News)
    {
        @await Html.PartialAsync("~/Views/Shared/News/Show.cshtml", new ShowNewsViewModel(news, false, Url, Model.GetImageUrl()))
    }

    @(await Component.InvokeAsync<PagerViewComponent>(new
      {
          pagerModel = new PagerModel(Model.CurrentPage, Model.TotalNews, (page) => Url.News().ParentNewsUrl(Model.Parent, page), 20)
      }))
</div>