@using System.Threading.Tasks
@using BioEngine.Site.Components.Url
@using BioEngine.Site.ViewComponents
@using BioEngine.Site.ViewModels.News
@model OneNewsViewModel
@inject UrlManager UrlManager
@{
    ViewBag.Title = await Model.Title();
    Layout = "~/Views/_Main.cshtml";
}
<div class="article__block">
    @(await Component.InvokeAsync<BreadcrumbsViewComponent>(Model.BreadCrumbs))
    @Html.Partial("~/Views/Shared/News/Show.cshtml", new ShowNewsViewModel(Model.News, true, UrlManager))
</div>