@using BioEngine.Site.ViewComponents
@using BioEngine.Site.ViewModels.News
@model OneNewsViewModel

@{
    Layout = "~/Views/_Main.cshtml";
}
<div class="article__block">
    @(await Component.InvokeAsync<BreadcrumbsViewComponent>(Model.BreadCrumbs))
    @await Html.PartialAsync("~/Views/Shared/News/Show.cshtml", new ShowNewsViewModel(Model.News, true, Url, Model.GetImageUrl()))
</div>