.pagination
  padding 2.2rem 1.875rem
  margin 0 0 30px -13px
.pagination__item
  display inline-block
  padding 5px 13px
  font-weight bold
.pagination__item_link
  color $linkColor
  &:visited
    color $linkColorVisited
  &:hover
    color $linkColorHover
.pagination__item_disabled
  color $fontColor
.pagination__item_active
  color $onDarkTextColor
  background $accentColor
  border-radius 5px
