.file__desc-list
  margin 0
.file__desc-title
  display inline-block
  &:after
    content: ': '
.file__desc-value
  display inline-block
  margin 0
.file__desc
  margin 20px 0
.file__download
  margin 20px 0 30px
.file__download-btn
  display inline-block
  padding 1em 2em
  font-size 1.2em
  color #fff
  background #009926
  text-decoration none
  &:hover
    background lighten(#009926, 10%)
  &:active
    background #009926