.gallery__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery__item {
  width: 190px;
  height: 150px;
  margin: 0 10px 10px 0;
  background-color: rgba(86,37,61,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
