@using BioEngine.Common.Models
@model Block
@if (Model.Active == 1)
{
    <div class="sidebar__content-wrp">
        <div class="sidebar__counter">
            @Html.Raw(Model.Content)
        </div>
    </div>
}