.popup__wrp {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(86,37,61,0.5);
  z-index: 10;
  display: none;
}
.popup__wrp.show {
  display: block;
}
.popup {
  background-color: #000;
  border-radius: 5px;
  position: absolute;
  padding: 25px;
  width: 212px;
}
.popup__login-form {
  margin: 0;
  padding: 0;
  border: 0;
  display: none;
}
.popup__text-input {
  box-sizing: border-box;
  padding: 8px;
  display: block;
  margin-bottom: 20px;
  border: none;
  font-size: 16px;
  border-radius: 2px;
  line-height: 1.2;
  width: 100%;
}
.popup__button {
  width: 100%;
  padding: 20px 10px;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  background: #009926;
  border: none;
  cursor: pointer;
}
.popup__button:hover {
  background: #00bd2f;
}
.popup__button:active {
  background: #009926;
}
.popup__error {
  display: none;
  color: #f00;
  margin-top: 20px;
}
