.search-page
  margin-right 250px
  background-color #ebebeb
  box-shadow 0 0 10px 0 #1298b9
  padding 2.2rem 1.875rem
.search-page__title
  font-weight bold
  font-size 1.5em
  line-height 1.4
  margin 0 0 1em
.search-page__form
  margin 1em 0 2em
.search-page__cat-items
  margin 0 0 1.5em 1em
.search-page__cat
  margin-bottom 1.5em
.search-page__cat-title
  margin 0 0 1em
.search-page__cat-link
.search-page__link
.search-page__more-link
  color $linkColor
  &:visited
    color $linkColorVisited
  &:hover
    color $linkColorHover
.search-page__item
  margin-bottom .7em
.search-page__desc
  font-size .9em
  margin 0
