$fontColor = #000
$authBlock = #111
$bodyBG = #111
$submenuBGColor = rgba(0,0,0,0.8)
$onDarkTextColor = #fff
$accentColorHover = #fff
$dividerColor = #7d7d7d
$sidebarColor = wheat
$footerColor = #111
$footerTextColor = #fff
$newsColorLight = #ebebeb
$newsColorDate = #666
$sidebarButton = #898989
$accentColor = #36c8ec
$linkColor = darken($accentColor, 30%)
$linkColorHover = lighten($linkColor, 20%)
$linkColorVisited = desaturate($linkColor, 50%)
$voileBg = rgba(42, 37, 86, 0.5)